---
import type { Project } from './../models/partsModels';
import 'flickity/dist/flickity.min.css';
import PhotoModal from './../part/Modal.astro';
import exitIcon from "../../assets/exit.svg"
import { Image } from 'astro:assets';

const projects: Project[]= [
    {id:1, title:'Todoleaf', context:'Réalisé en stage', githubLink:'', image:'/todoleaf_ui.webp', description:`Stage de 2 mois réalisé de septembre à novembre 2024. /n /n Développement d’une application d’aide à la gestion des plantes avec un front-end en Vue.js et TailwindCSS, intégrant des maquettes et des formulaires interactifs pour créer des plantes étape par étape avec upload d’images, sécurisés contre les attaques XSS, CSRF, validation stricte des entrées utilisateur pour prévenir les injections SQL et les abus de type \'file upload\'. /n /n Côté back-end, mise en œuvre avec Laravel d’un système de tables, modèles, contrôleurs et services pour traiter les uploads (conversion WebP, compression Tinify, stockage Google Cloud), optimisé via Redis et un système de files d’attente, réduisant le temps de traitement de 25s à quelques secondes, avec un rendu instantané via le local
storage.`, technos:'vuejs, vitejs, tailwindcss, laravel, redis, supabase, docker'},
    {id:2, title:'Kerem&Co (en construction)', context:'Réalisation professionnelle', githubLink:'', image:'/kerem-site.webp', description:"Site statique pour aider un ami dans sa carrière de musicien. /n J'ai démarré ce site en svelte puis j'ai migré sur Astro. Svelte est utilisé sur certains composants. Astro permet de tout compiler en HTML et de ne charger le JS que lorsque nécessaire. /n Au bout du compte, je profite de la syntaxe simple de Svelte, et j'obtiens un site ultra léger. J'ai également utilisé tailwind pour l'efficacité que cet outil apporte.", technos:'astrojs, svelte, tailwindcss'},  
    {id:3, title:'Bonsaïs (en cours)', context:'Réalisation personnelle', githubLink:'https://github.com/FlorentGarcia369963/Bonsais', image:'/bonsai.webp', description:'Dans le cadre de mon développement de compétences en Angular et Java, je conçois un site e-commerce dédié à la vente de bonsaïs. Ce projet me permet d’approfondir mes connaissances en développement front-end avec Angular, ainsi qu\'en back-end avec Java. /n /n Actuellement, je travaille sur la gestion des produits, le panier d\'achat, et la mise en place d\'un système de paiement sécurisé. /n La roadmap est affichée sur le dépôt GitHub :)', technos:' angular, tailwindcss'},
    {id:4, title:'Ciné Délices', context:'Réalisé en formation', githubLink:'https://github.com/orgs/Cinedelices/repositories', image:'/cd-home.webp', image2:'/cd-catalog.webp', description:"Projet en cours de formation, en équipe de 5. L'objectif était de concevoir une application Web de recette de cuisines inspirées ou tirées du cinéma à partir de 0. /n Cela s'est déroulé en 4 sprint d'une semaine: /n Semaine1: conception, nous avons définit la raison d'être de l'application, le public visé, nous avons écrit un cahier des charges, définit une identité visuelle, définit un MVP(Minimum Viable Product), choisi les technologies (React/Express) conçu les zoning, wireframes et maquettes. /n Semaine 2: Développement du MVP, mise en place de l'architecture et développement des pages et fonctionnalités, en suivant le gitflow décidé: chacun pousse le code sur sa branche, une branche par fonctionnalité, on réunit le code sur la branche \"Dev\" après relecture, et puis sur Master pour la production. Utilisation de Scrum pour le suivi quotidien via Slack et Discord pour le débogage. /n Semaine 3: Affinage et développement des fonctionnalités avancées, type système de likes et de commentaires. /n Semaine 4: Finitions, puis présentation devant l'ensemble de la classe O'Clock.", technos:' react, typescript, vitejs, tailwindcss, expressjs, docker'},
    {id:5, title:'Social Secu', context:'Réalisation personnelle', githubLink:'https://github.com/FlorentGarcia369963/mini_secu', image:'/social-secu.webp', description:"Projet Symfony - Système de gestion de factures pour la CPAM: /n Dans le cadre d'une candidature à un poste de développeur web à la CPAM, j'ai réalisé un projet avec Symfony, mettant en place un système d'authentification et de gestion des rôles. /n Le projet permet à un utilisateur de soumettre une facture via un formulaire, un conseiller de la valider, puis un agent de déclencher un remboursement après validation. /n J'ai apprécié découvrir Symfony et ses commandes CLI, qui génèrent des composants et services quasi prêts à l'emploi, simplifiant grandement le développement.", technos:' symfony, javascript, bootstrap, docker'}
];    
---
<section id="projects" class="h-[100vh]" aria-labelledby="project-title">
    <h2 id="project-title" class="section-title">Mes projets</h2>
    <div class="hero-slider" data-carousel>
      {projects.map((project: Project) => (
        <div id="info-container" class="carousel-cell" style={`background-image:url(${project.image});`}>
          <div class="overlay"></div>
          <div class="inner">
            <div class="flex flex-col items-center ">
              <div class="presentation-mini ">
                <h3  class="project-context subtitle text-shadow">{project.context}</h3>
                {/* VOIR SI PROBLEME TAILLE DU DU AU CHANGEMENT DANS GLOBALSTYLE */}
                <h2 class="project-title title text-shadow">{project.title}</h2>
                <button data-project-id={project.id} id={`${project.id}`} class="btn more-btn">En savoir plus</button>
                {/* logos des technos utilisées */}
                <div class="flex justify-around w-9/10 flex-wrap mt-24 gap-12">
              {project.technos.split(',').map((techno: string) => techno.trim()).map((techno: string) => (
                <img class="w-1/8 max-w-[60px] md:w-[60px] min-[1080px]:w-[80px]" src={`/svg/${techno}-icon.svg`} alt={techno} loading="lazy"/>
              ))}
            </div>
              </div>
              
              <div id="btn-to-display" class="hidden-part absolute top-0 h-full">
                  <div class=" min-[800px]:mt-6 mx-auto w-9/10 z-50 bg-black/75 rounded-2xl p-2 text-sm sm:text-base lg:text-lg xl:text-xl sm:w-7/10 overflow-y-auto text-shadow">{project.description.split('/n').map(line=>(
                    <span>{line} <br /></span>
                  ))}</div>
                <div class="text-lg sm:text-xl underline flex justify-around items-center  my-6">
                  {project.githubLink !== '' && (
                    <button><a class="text-shadow btn flex gap-1" href={project.githubLink} target="_blank">GitHub <Image src={exitIcon} alt="" /></a></button>
                  )}
                  {project.id !== 3 &&(
                    <button type="button" id="see-photo-btn" data-img={project.image} class=" text-shadow btn">Voir la photo</button>

                  )}
                  <button id="reduction-btn" class="text-shadow btn">Réduire</button>
                </div>
              </div> 
            </div>
            
          </div>
        </div>  
      ))}
    </div>
    </section>
    <PhotoModal id="photoModal" >
      <img class="h-[83vh] w-auto mx-auto mt-10 mb-1 object-contain " id="img-modal" src="" alt="" loading="eager">
    </PhotoModal>
    <script src="./carousel.ts"></script>
<script>
  import { displayInfos } from "./displayInfos";
//more informations
const moreBtnEls = document.querySelectorAll('.more-btn');
//Inside more infos menu
const projectContexts = document.querySelectorAll('.project-context');
const projectTitles = document.querySelectorAll('.project-title');
console.log(projectContexts,projectTitles);

//Beginning of listening click on more informations button
moreBtnEls.forEach(btn=> btn.addEventListener('click',(e)=>{
  displayInfos(btn)
  const project= btn.closest('.inner');
  const reductionBtnEl = project?.querySelector('#reduction-btn')
  const btnToDisplayEl = project?.querySelector('#btn-to-display') as HTMLElement;
  const presentationEl = project?.querySelector('.presentation-mini')

  
  // btn.classList.add('hidden');
  projectContexts?.forEach(projectContext => projectContext.classList.add('hidden', 'min-[800px]:block'))
  projectTitles?.forEach(projectTitle => projectTitle.classList.add('hidden', 'min-[800px]:block'))
  
  // // btnToDisplayEl?.classList.remove('hidden-part')
  // presentationEl?.classList.add('clicked')
  // btnToDisplayEl?.classList.add("visible","flex","flex-col")
  // See photo
  const displayPhotoBtnEl = project?.querySelector('#see-photo-btn');
  console.log(displayPhotoBtnEl);
  
  const photoModal = document.getElementById('photoModal')

  //Beginning on listening display modal with picture
  displayPhotoBtnEl?.addEventListener('click', ()=>{
    
    photoModal?.classList.add('show')
    const imageToDisplay = displayPhotoBtnEl?.getAttribute('data-img')
    if(imageToDisplay ){
      
      
      photoModal?.querySelector('#img-modal')?.setAttribute('src',imageToDisplay)
    }
    const modalCloseBtn = document.getElementById('modal-close-btn')
  if(modalCloseBtn){
    // Beginning listening on click the close button
    modalCloseBtn.addEventListener('click',()=>{
      photoModal?.classList.remove('show')
    })
    // end listening on click the close button
  }
    //end on listening display modal with picture

  })

  if (btnToDisplayEl) {
    function closeMoreInfos(){
    projectContexts?.forEach(projectContext => projectContext.classList.remove('hidden', 'min-[800px]:block'))
    projectTitles?.forEach(projectTitle => projectTitle.classList.remove('hidden', 'min-[800px]:block'))
presentationEl?.classList.remove('clicked')
btnToDisplayEl?.classList.remove("visible","flex","flex-col")
btn.classList.remove('hidden');
    }
// closing
  reductionBtnEl?.addEventListener('click', ()=>{
    console.log('click');
    closeMoreInfos()

  })
  // Close by calling next or previous project
  const fArrows = document.querySelectorAll('.flickity-prev-next-button')
  console.log(fArrows);
  fArrows.forEach(arrow =>{
    arrow  .addEventListener('click', ()=>{
      closeMoreInfos()
// Close modal when click on previous or next
photoModal?.classList.remove('show')
  })
  })

  // Close by swiping
  
}
}))

</script>
