---
import { Image } from "astro:assets";
import lkd2 from "../../assets/lkd2r.webp";
import lkdIcon from "../../assets/lkd-icon.svg";
import gitHubIcon from "../../assets/github-icon.svg";

const title="Développeur Full-Stack";
const announcement = "En recherche d'une alternance à partir d'août 2025 pour continuer mon évolution et devenir Concepteur Développeur d'Application"
---

<section id="landing" class="flex flex-col items-center justify-evenly min-h-[100vh]" aria-label="Accueil">
  
    <div class="flex w-9/10 2xl:max-w-8/10 justify-around items-center mt-20 lg:mt-30">
        <div class="flex flex-col justify-evenly  items-center relative text-center py-0 px-4 w-full lg:w-7/10 2xl:w-5/10 gap-6">
            <p class="text-[#faebd7] opacity-20 text-xl  md:text-[3vw] hover:opacity-100 ease-in-out duration-300">Salut, je suis</p>
            <h1 class="text-[#faebd7] text-3xl sm:text-4xl md:text-6xl lg:text-7xl m-0 pb-0.5 tracking-wider animation-transition">Florent Garcia</h1>
            
                <h2 class="text-xl min-[420px]:text-3xl min-[895px]:text-3xl lg:text-xl xl:text-3xl" aria-label={title}>
                    {title.split('').map((letter)=>(
                        <span class="m">{letter}</span>
                    ))}
                </h2>
            <Image src={lkd2} alt="" width={200} height={200} class="object-cover w-[200px] h-[200px] rounded-full max-[350px]:hidden lg:hidden" loading={"eager"} />
            <span class="py-5 text-[#faebd7] text-xl min-[420px]:text-2xl md:text-3xl tracking-widest">JavaScript / TypeScript</span>
            <div class="box rounded-[40px] p-5 mt-5 text-lg min-[360px]:text-xl">
                    <p class=" pb-3 text-[#faebd7] tracking-widest ">Besoin de réaliser un projet?</p>
                    <a id="contactLink" href="#contact" class="text-[rgb(250,235,215)] tracking-widest cursor-grab underline hover:text-[#41B883] hover:animate-pulse ease-in-out duration-300">Contactez moi</a>
            </div>
            
        </div>
        <div class=" hidden lg:flex lg:flex-col lg:justify-center lg:items-center">
            <Image src={lkd2} alt="" width={300} height={300} class="object-cover w-[300px] h-[300px] rounded-full" loading={"eager"} />
            <div class="flex items-center gap-12">
                <a href="https://github.com/FlorentGarcia369963" target="_blank" aria-label="Lien vers mon GitHub">
                    <Image src={lkdIcon} alt="" width={20} height={20} class="text-[#faebd7] object-cover w-[100px] h-[100px] rounded-full " loading={"eager"} />
                </a>
                <a href="https://www.linkedin.com/in/florent-garcia-dev/" target="_blank" aria-label="Lien vers mon LinkedIn">
                    <Image src={gitHubIcon} alt="" width={20} height={20} class="text-[#faebd7] object-cover w-[40px] h-[40px]" loading={"eager"} />
                </a>

            </div>

          
         </div>
    </div>
    <div class="mt-10 flex flex-col items-center">
        <p class="text-[#faebd7] text-center m-auto tracking-widest w-[95%] min-[420px]:w-7/10 xl:w-6/10 min-h-[1.2em]">{announcement.split('').map((letter)=>(
            <span class="lumiere text-sm min-[420px]:text-base md:text-lg  xl:text-xl">{letter}</span>
        ))}</p>
        <a class=" text-[#faebd7] mt-6 px-6 py-4 rounded-2xl border border-[#faebd7]" href="/CV-GARCIA-Florent.pdf" target="_blank">Téléchargez mon CV !</a>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', ()=>{
        const lumiereEls= Array.from(document.querySelectorAll('.lumiere')) as HTMLElement[];
        lumiereEls.forEach((element,index)=>{
            element.style.animationDelay=`${index *15}ms`
        })

        const box = document.querySelector('.box')
        if(box){
            setTimeout(()=>{
                box.classList.add('shadow')
            },1000);
        }

    })


</script>

 
