---
const {project} = Astro.props;
const technos = project.technos.split(',').map((techno:string)=>techno.trim())

---
<article class="project-card relative">
    <h3>{project.title}</h3>
    <span class="info-text">Cliquez pour afficher les informations</span>
    <img class="rounded-[25px] w-8/10" src={project.image} alt=`image du projet ${project.title}`>
    {project.githubLink && project.githubLink.trim() !== '' && <a href="">Lien vers github</a>}
   <div class="flex justify-center gap-3 w-[95%]">
        {technos.map((techno:string)=> (
            <img class="w-[50px] h-[50px]" src={`/svg/${techno}-icon.svg`} alt={techno}/>
        ))}
   </div>
  </article>